---
import Badge from '../../Badge.astro';

interface Props {
  title: string;
  image?: string;
  date: string;
  description: string[];
  badge?: string;
}
const { title, image, date, description, badge } = Astro.props;
---

<li class="pl-12 pb-12">
  <img
    class="absolute bg-background flex items-center justify-center size-12 rounded-full -start-6 ring-4 ring-primary/15"
    src={image || `https://api.dicebear.com/9.x/shapes/svg?seed=${title.replaceAll(/\s+/g, '_')}}`}
    alt={`Imagen de ${title}`}
  />
  <h3 class="flex items-center text-lg font-semibold text-foreground/90 gap-2">
    {title}
    {badge && (
      <Badge className='text-sm'>{badge}</Badge>
    )}
  </h3>
  <time class="block my-3 text-sm font-normal leading-none text-muted-foreground">
    {date}
  </time>
  <ul class="space-y-2 text-base font-normal text-foreground/70">
    {description.map((item) => (
      <li class="list-disc list-inside">{item}</li>
    ))}
  </ul>
</li>
