---
import ContactIcon from "../../assets/icons/ContactIcon.astro";
import DownloadIcon from "../../assets/icons/DownloadIcon.astro";
import LinkedIn from "../../assets/icons/LinkedIn.astro";
import type { PortfolioConfig } from "../../types/config";
import Badge from "../Badge.astro";
import SocialPill from "../SocialPill.astro";

interface Props {
  hero: PortfolioConfig['hero']
}

const { hero } = Astro.props
---

<section
  class="py-16 md:py-28 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  id="contacto"
>
  <div class="w-full">
    <div class="flex flex-row items-center mb-6 space-x-4">
      <img
        src="/me.JPG"
        alt="Foto del dueño del portafolio"
        class="size-26 rounded-full object-cover"
      />
      <Badge>{hero.badgeText}</Badge>
    </div>
    <h1 class="text-4xl font-bold text-foreground sm:text-5xl">
      <span class="tracking-tight [word-spacing:-15px]"
        >{hero.title}</span
      >
    </h1>
    <p class="mt-6 text-xl text-muted-foreground" set:html={hero.description} />
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill
        href={hero.buttons.contactMe.href}
        variant="secondary"
      >
        <ContactIcon />
        {hero.buttons.contactMe.label}
      </SocialPill>
      <SocialPill
        href={hero.buttons.linkedIn.href}
        target="_blank"
        rel="noopener noreferrer"
        variant="secondary"
      >
        <LinkedIn />
        {hero.buttons.linkedIn.label}
      </SocialPill>
      <SocialPill
        href={hero.buttons.downloadCv.href}
        target="_blank"
        rel="noopener noreferrer"
        variant="primary"
      >
        <DownloadIcon />
        {hero.buttons.downloadCv.label}
      </SocialPill>
    </nav>
  </div>
</section>
