---
import SkillsIcon from "../../../assets/icons/SkillsIcon.astro";
import type { PortfolioConfig } from "../../../types/config";
import Caption from "../../Caption.astro";
import SectionContainer from "../SectionContainer.astro";

interface Props {
  skillsCategory: PortfolioConfig['skillsCategory']
  sectionId: PortfolioConfig['navigation']['nav']['skills']['sectionId']
}
const { skillsCategory, sectionId } = Astro.props
---

<SectionContainer id={sectionId}>
  <Caption>
    <SkillsIcon />
    Habilidades
  </Caption>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {skillsCategory.data.map((category) => (
      <div class="skill-card bg-background p-4 rounded-lg shadow-md dark:shadow-primary/20">
        <h3 class="text-lg font-semibold mb-2 text-foreground">{category.name}</h3>
        <ul class="flex flex-wrap gap-2">
          {category.skills.map((skill) => (
            <li class:list={[
              'w-fit rounded-2xl py-1 px-4 text-sm font-medium flex items-center gap-2',
              'rounded backdrop-blur-lg shadow-md',
              skill.className,
            ]}><img src={skill.icon} alt={skill.name} class="inline-block w-4 h-4 mr-1" />{skill.name}</li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</SectionContainer>
