---
import type { PortfolioConfig } from "../types/config";
import "../styles/global.css";
import "@fontsource-variable/jetbrains-mono";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
interface Props {
  t: PortfolioConfig
}

const {
  t: {
    warnings: { noAssigned },
    head: { title = noAssigned, description = noAssigned },
    navigation,
    footer
  }
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content={description}
    />
  </head>
  <body class="relative bg-background">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-background bg-[radial-gradient(#E2E4E9_1px,transparent_1px)] dark:bg-[radial-gradient(#262626_1px,transparent_1px)] [background-size:16px_16px]"
    >
    </div>
    <Header navigation={navigation}/>
    <slot />
    <Footer footer={footer}/>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "JetBrains Mono Variable", monospace;
  }

  @media (prefers-reduced-motion: reduce) {
    body {
      scroll-behavior: auto;
    }
  }
</style>
